    <!-- ======= Speaker Details Sectionn ======= -->
    <section id="speakers-details">
      <div class="container">
        <div class="section-header">
      
          <h2>Your Dashboard</h2>
    
          <p>Praesentium ut qui possimus sapiente nulla.</p>
        </div>

        <div class="row">
          <div class="col-md-6">
            <img src="images/sidebar-review-400x300.jpg" alt="Speaker 1" class="img-fluid">
          </div>

          <div class="col-md-6">
             <div class="details">
              <h2 class="p-title">Continue adding to our great blog.</h2>
                <h2 class="mt-30">Create New Post</h2>
                <form id = "image-post-form" class="new-post-form" enctype="multipart/form-data">
                    <div>
                    <label for="post-title2">Title</label>
                    <input type="text" id="post-title2" name="post-title" />
                    </div>
                    <div class="form-group">
                    <textarea class="form-control" id ="post-body2" name="post-body" rows="1" placeholder="Message"></textarea>
                    <div class="validate"></div>
                    </div>
                    <div>
                      <label class="form-label" for="post-image">Post Image</label>
                      <input type="file" id='post-image' name="post-image" accept="image/*" class="form-control-file" />
                    </div>
                    <button type="submit" class="btn btn-primary">Post</button>
                </form>
            </div>
          </div>


        </div>
      </div>

    </section>


    {{#if images.length}}
    <section id="schedule" class="section-with-bg">
      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <h2>Your Posts</h2>
        </div>

        <div class="tab-content row justify-content-center" data-aos="fade-up" data-aos-delay="200">

          <!-- Schdule Day 1 -->
          <div role="tabpanel" class="col-lg-9 tab-pane fade show active" id="day-1">
              {{#each images}}
                {{#if data}}
                <div class="mb-30 p-30 ptb-sm-25 plr-sm-15 card-view">
						<h4 class="p-title"><b>TODAY FEATURED</b></h4>
						<img src="{{data}}" alt="">
						<h3 class="mt-30"><a href="#">{{title}}</a></h3>
						<ul class="mtb-10 list-li-mr-20 color-lite-black">
							<li><i class="mr-5 font-12 ion-clock"></i>{{format_date created_at}}</li>
							<li><i class="mr-5 font-12 ion-android-person"></i>{{user.username}}</li>
							<li><i class="mr-5 font-12 ion-ios-chatbubble-outline"></i>15</li>
							<li><i class="mr-5 font-12 ion-eye"></i>105</li>
						</ul>
						<p>{{body}}</p>
					</div><!-- bg-white -->
          {{else}}
              <div class="mb-30 p-30 ptb-sm-25 plr-sm-15 card-view">
						<h3 class="mt-30"><a href="#">{{body}}</a></h3>
						<ul class="mtb-10 list-li-mr-20 color-lite-black">
							<li><i class="mr-5 font-12 ion-clock"></i>{{format_date created_at}}</li>
							<li><i class="mr-5 font-12 ion-android-person"></i>{{user.username}}</li>
							<li><i class="mr-5 font-12 ion-ios-chatbubble-outline"></i>15</li>
							<li><i class="mr-5 font-12 ion-eye"></i>105</li>
						</ul>
					</div><!-- bg-white -->
              {{/if}}
            {{/each}}

          </div>
          </section>
          {{/if}}

 <script src="/javascript/new-post.js"></script>
 <script src="/javascript/edit-post.js"></script>
  <script src="/javascript/image-upload.js"></script>